<div class="component__inner splitter__inner">
  {{> component this}} 

  <div class="splitter__main" {{#if _backgroundColour}} style="background: {{_backgroundColour}};"{{/if}} >
    {{#if _backgroundImage}} 
      <img class="splitter__image" src="{{_backgroundImage}}" />
    {{/if}} 
    {{#if content}} 
      <div>{{{content}}}</div>
    {{/if}} 
    {{#if buttonTitle}} 
      <div class="splitter__button button is-visible">
      <button class="splitter__continue-btn btn js-splitter-continue-click" aria-label="{{{buttonTitle}}}">
        {{{buttonText}}}
      </button>
    </div>
    {{/if}} 
  </div> 
  
  

</div>
